{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @template theme_union_govbr/barragovbr
    @copyright 2026 Matheus Mathias
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Template for the Gov.br Identity Bar.

    Context variables required for this template:
    * brasil_logo_url
    * govbr_header_sign
    * has_govbr_header_sign
    * govbr_header_class
    * header_links
    * has_header_links

    Example context (json):
    {
        "brasil_logo_url": "#",
        "govbr_header_sign": "Governo Federal",
        "has_govbr_header_sign": true,
        "govbr_header_class": "dark-mode",
        "has_header_links": true,
        "header_links": [
            {
                "title": "Acesso à informação",
                "url": "#"
            }
        ]
    }
}}

<div id="govbr-identity-bar" class="br-header govbr-identity-bar {{govbr_header_class}} d-none" data-sticky="false">
    <div class="container-fluid">
        <div class="header-top">
            <div class="header-logo">
                <img src="{{{ brasil_logo_url }}}" alt="Logo do Governo Federal"/>
                {{#has_govbr_header_sign}}
                <span class="br-divider vertical"></span>
                <div class="header-sign">{{{ govbr_header_sign }}}</div>
                {{/has_govbr_header_sign}}
            </div>
            {{#has_header_links}}
            <!-- Desktop Links -->
            <div class="header-links d-none d-lg-flex">
                {{#header_links}}
                <a href="{{{ url }}}" class="br-item" target="_blank" rel="noopener noreferrer">{{{ title }}}</a>
                {{/header_links}}
            </div>

            <!-- Mobile Dropdown -->
            <div class="dropdown d-lg-none ms-auto ms-auto">
                <button class="btn btn-sm btn-link btn-header-mobile p-1" type="button" id="govbr-mobile-links" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Menu">
                    <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-end" aria-labelledby="govbr-mobile-links">
                    {{#header_links}}
                    <a class="dropdown-item" href="{{{ url }}}" target="_blank" rel="noopener noreferrer">{{{ title }}}</a>
                    {{/header_links}}
                </div>
            </div>
            {{/has_header_links}}
        </div>
    </div>
</div>

{{#js}}
require(['jquery'], function($) {
    var bar = $('#govbr-identity-bar');
    
    var updateScroll = function() {
        var scrollY = window.scrollY || $(window).scrollTop();
        var offset = Math.max(0, 40 - scrollY);
        
        // Show the bar now that JS has loaded
        bar.removeClass('d-none');
        
        document.documentElement.style.setProperty('--govbr-offset', offset + 'px');
    };

    $(window).on('scroll', updateScroll);
    updateScroll();
});
{{/js}}
